---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who is this Morgan Humphreys?"
	pubDate={new Date('September 11 2023')}
	heroImage="/Morgan.jpg"
	>
	<h3>👋 Hi Traveller, I'm Morgan   </h3>
	<p>
		I'm a solution weaver for business problems who uses technology to empower people. I've spent the first two years of my IT career digitally transforming
		S&S Industries, from a paper process kingdom through to a digital revolution. I'm a process-driven designer with a human-first approach. 
	</p>
	<p>
		I'm a caffiene addict, generally you will see me drinking black filter coffee as my daily driver. 
	</p>

	<h5>What key things have you done in the past?</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
		et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
		vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
		sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.

		<a href="https://www.murdoch.edu.au/news/articles/recognising-outstanding-student-leaders">Murdoch University Student Leader of the Year (2020)</a>

		<li>
		Quoted in the following articles 
		<a href="https://insiderguides.com.au/what-is-esports-how-to-get-a-career-in-gaming/">[1]</a>
		<a href="https://www.murdoch.edu.au/news/articles/8-workplace-skills-you-learn-from-gaming">[2]</a>
		</li>
		<li>
		Speaker 
		<a href="https://hopin.com/events/games-for-change-asia-pacific-festival">[1]</a> 
		<a href="https://www.aesa.org.au/events/summit20/">[2]</a>
		</li>
	</p><p></p>

	<h5>Contact</h5>
	<p>
		The best way to contact me is through LinkedIn,
		<a href="https://www.linkedin.com/in/morganjhumphreys/">Feel free to connect and chat today!</a>
	</p>

	<h5>Disclaimer</h5>
	<p>
		All thoughts and opinions outlined on this portfolio are my own and do not represent the views or my employers (or vice versa).
	</p>

</Layout>
