---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who is this Morgan Humphreys?"
	pubDate={new Date('September 11 2023')}
	heroImage="/Morgan.jpg"
	>
	<h3>👋 Hi Traveller, I'm Morgan   </h3>
	<p>
		I'm a solution weaver for business problems who uses technology to empower people. I've spent the first two years of my IT career digitally transforming
		S&S Industries, from a paper process kingdom through to a digital revolution. I'm a process-driven designer with a human-first approach. 
	</p>
	<p>
		I'm a caffiene addict, generally you will see me drinking black filter coffee as my daily driver. I could talk about 
		coffee for days, so unless you want me to talk your ear off Caffiene related questions should be asked with caution. 
	</p>

	<h5>What key things have you done in the past?</h5>
	
	<p> My career so far has been a quite broad jounrey and included a lot of automity in the roles I was performing, these included</p>
		<li> Creating the foundations for the esports program at Murdoch University and paving the way for the first WA university gaming hub.</li>
		<li> Digitally transforming a multi-million dollar business, S&S Industries, from paper processes to digital streamlined processes.</li>
		
	<p></p>Some of the things I'm most proud of are listed below!
	<br>

		<li> 
			Founding the first colliegate esports role in Western Australia and achieving funding for an on-campus gaming facility. 
		</li>
		<li> 
			<a href="https://www.murdoch.edu.au/news/articles/recognising-outstanding-student-leaders">Murdoch University Student Leader of the Year (2020)</a>
		</li>
		<li>
			Quoted in the following articles 
			<a href="https://insiderguides.com.au/what-is-esports-how-to-get-a-career-in-gaming/">[1]</a>
			<a href="https://www.murdoch.edu.au/news/articles/8-workplace-skills-you-learn-from-gaming">[2]</a>
		</li>
		<li>
			Conference Speaker 
			<a href="https://hopin.com/events/games-for-change-asia-pacific-festival">[1]</a> 
			<a href="https://www.aesa.org.au/events/summit20/">[2]</a>
		</li>
		<li> 
			Digitally Transformed a multi-million dollar company, S&S Industries, digitalising paper processes and reducing their cybersecurity attack vector. 
		</li>
	</p><p></p>

	<h5> What are you working towards at the moment?</h5>
		<p>I'm currently working to upskill my programming skills, undertaking a bachleors Computer Science degree.</p>
	

	<h5>Contact</h5>
	<p>
		The best way to contact me is through LinkedIn,
		<a href="https://www.linkedin.com/in/morganjhumphreys/">Feel free to connect and chat today!</a>
	</p>

	<h5>Disclaimer</h5>
	<p>
		All thoughts and opinions outlined on this portfolio are my own and do not represent the views or my employers (or vice versa).
	</p>

</Layout>
