---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>😊 Hello, Friend!</h1>
			<p>
				Welcome to my website. My website is the home for my blog content, usual information 
				should you want to contact me, or work with me. 
			</p>
			<p>
				Any and all feedback is always wanted. If you spot a typo or a piece of information that may not be up-to-date
				or flat out wrong, I encourage you to let me know! I promise I won't be offended for being wrong! We are only 
				human after all. 
			</p>
		</main>
		<Footer />
	</body>
</html>
