---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Working With Morgan"
	description="A quick breakdown on how I like to work"
	pubDate={new Date('October 11 2023')}
>   
<p>
    Inspired by the <a href="https://growth.eladgil.com/book/the-role-of-the-ceo/insights-working-with-claire/"> Working with Claire </a>
    document and later <a href="https://den.dev/how-i-work/"> Den Delimarsky's Work Approach</a> I was converted to write my own to set clear expectations for how I work and what boundaries I have. While it's not a requirement
    to read in order to work with me, you may find it insightful and help you to better understand what makes me tick. Please feel free to skim through
    at your pleasure. 

    <h3> Principals</h3>
    <p> The guiding pillars of my worklife to help guide you understand how I think.</p>

    <h5> Feedback is key</h5>
	<p>
		Feedback is important to me, constructive even more so. How can we expect to get better if we don't
        address pain points that we may (unknowingly!) be causing for the Business. I will ask that you withhold feedback during SERV1 incidents
        until after the issue is resolved, there is a time and place for feedback and in the trenches is not it. 
	</p>

     <h5> Data never lies, until it does</h5>
	<p>
		I am a data motivated individual and like to make decisions around what the data is presenting. If there is questions 
        on the validity of the data at hand, I am more than happy to review and confirm the accuracy. When we lack data to make decisions I am more
        than happy to dicuss and conjecture, however, depending on the problem, getting data is the best way to ensure the solution we are building
        fits what is being asked for. 
	</p>

    <h5> Processes are there for a reason</h5>
	<p>
		I'm an avid supporter of processes being followed as they are often implemented by someone who see's the entire life cycle. I've found that not following
        a process often leads to confusion amongst the team(s) and often leads to a bad customer experience. 
    </p>
    <p>
        Please be mindful that some processes may be outdated and done because it was needed years ago and since become obslete but still carried out.
        An example of this is the <a href="https://www.youtube.com/watch?v=5QuwPeH9P7Y"> Monkey Ladder Experiment </a> that show's a proccess being 
        maintained because that's what they were taught to do without the reason why. I encourage processes to always be questioned and optimise where we can. 
	</p>

	<h5> Customer Centric Thinking</h5>
	<p>
		The most important part of our work can sometiems be dehumanised which is our end users. Everything we do should be done with making sure it's beneficial 
		to the people our solutions are supporting. 
	</p>

	<h5> The Simplest Solution is usually the best</h5>
	<p>
		We as IT professionals can easily get lost in the idea of the cool things we can accomplish making the  systems we work with more and more complex. 
		I think it's good practice to keep front of mind that the more simple the solution is the easier it will be to administer if it breaks for another person
		to fix. We aren't going to be around forever to maintain over complex beast.
	</p>

    <h3> Communication</h3>
	<p> Want to know how I preferred to be communicated with? Read below!</p>
	<h5> Phone </h5>
	<p>
		The quickest way to get my attention but please keep in mind this interrupts my standard workflow. 
		<b> Please ensure your need is urgent </b> otherwise I will prioritise accordingly from an email.
	</p>

    <h5> Email</h5>
	<p>
		Email is my preferred communication message for non-urgent requests. I promise I will read your email within 24 hours of receiving it, I may not 
		always respond if I don't feel it warrants a response. If I happen to not respond within 24 hours and you feel like a response is needed from me 
		please feel free to send a follow-up email, I promise I won't be offended. 
	</p>

    <h5> Instant Messaging</h5>
	<p>
		Please use instant messaging for quick questions, passing along time-centric information. Please refrain from 
        asking for a task to be done through chat, it will quite often get lost as I triage my work through emails and meeting actions.
	</p>

    <h5> Humour</h5>
	<p>
		I love to have a bit of fun while at work during the normal day to day work, if you aren't laughing then you're probably crying.
	</p>

    <h3>Additional Notes</h3>
	<li>I'm allergic to paper, especially sticky notes. Please communicate to me electronically so the request / question doesn't accidentally get lost.</li>
	<li> I am not one to take work home as I believe that time should be reserved for my family and friends, enjoying what life has to offer. I will get back
		to you when I get back in office.
	</li>

</Layout>
