---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Working With Morgan"
	description="A quick breakdown on how I like to work"
	pubDate={new Date('October 11 2023')}
>   
<p>
    Inspired by the <a href="https://growth.eladgil.com/book/the-role-of-the-ceo/insights-working-with-claire/"> Working with Claire </a>
    document and later <a href="https://den.dev/how-i-work/"> Den Delimarsky's Work Approach</a> I was converted to write my own to set clear expectations for how I work and what boundaries I have. While it's not a requirement
    to read in order to work with me, you may find it insightful and help you to better understand what makes me tick. Please feel free to skim through
    at your pleasure. 

    <h3> Principals</h3>
    <p> The guiding ...</p>

    <h5> Feedback is key</h5>
	<p>
		Feedback is important to me, constructive even more so. How can we expect to get better if we don't
        address pain points that we may (unknowingly!) be causing for the Business. I will ask that you withhold feedback during SERV1 incidents
        until after the issue is resolved, there is a time and place for feedback and in the trenches is not it. 
	</p>

     <h5> Data never lies, until it does</h5>
	<p>
		I am a data motivated individual and like to make decisions around what the data is presenting. If there is questions 
        on the validity of the data at hand, I am more than happy to review and confirm the accuracy. When we lack data to make decisions I am more
        than happy to dicuss and conjecture, however, depending on the problem, getting data is the best way to ensure the solution we are building
        fits what is being asked for. 
	</p>

    <h5> Processes are there for a reason</h5>
	<p>
		I'm an avid supporter of processes being followed as they are often implemented by someone who see's the entire life cycle. I've found that not following
        a process often leads to confusion amongst the team(s) and often leads to a bad customer experience. 
    </p>
    <p>
        Please be mindful that some processes may be outdated and done because it was needed years ago and since become obslete but still carried out.
        An example of this is the <a href="https://www.youtube.com/watch?v=5QuwPeH9P7Y"> Monkey Ladder Experiment </a> that show's a proccess being 
        maintained because that's what they were taught to do without the reason why. I encourage processes to always be questioned and optimise where we can. 
	</p>

    <h3> Communication</h3>

    <h5> Email</h5>
	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

    <h5> Instant Messaging</h5>
	<p>
		Please use instant messaging for quick questions, passing along time-centric information. Please refrain from 
        asking for a task to be done through chat, it will quite often get lost as I triage my work through emails and meetings.
	</p>

    <h5> Humour</h5>
	<p>
		Love to have a laugh.
	</p>

    <h3>Additional Notes</h3>

    

</Layout>
